<section [ngSwitch]="view">
  <section *ngSwitchCase="'card'">
    <carte [musique]="musique" (personDelete)="delete($event)" (personUpdate)="update($event)" *ngFor="let musique of musiques" ></carte>
  </section>

  <section *ngSwitchCase="'list'">
    <mat-list>
      <mat-list-item *ngFor="let musique of musiques" class="mat-whiteframe-2dp mat-card">
        <img mat-list-avatar src="{{ musique.picture }}" alt="Pochette de la musique"/>
        <h3 mat-line> {{ musique.title }} </h3>
        <p mat-line>
          <span> {{ musique.description }}</span> - <span>{{ musique.duration }} </span>
        </p>
        <p mat-line>
          <span> {{ musique.album }} </span> — <span>{{ musique.artist }} </span> — <span>{{ musique.date }} </span>
        </p>
        <mat-list-item *ngFor="let style of musique.styles" class="mat-whiteframe-2dp mat-card">
          <p mat-line>
            <span>style</span>
          </p>
        </mat-list-item>
      </mat-list-item>
    </mat-list>
  </section>
</section>


<section class="buttons-fab" *ngIf="dialogStatus == 'inactive'">
  <button (click)="showDialog()" mat-fab color="accent" class="button-add">
    <em class="material-icons">add</em>
  </button>

  <button (click)="switchView()" mat-fab color="warn">
    <em class="material-icons" *ngIf="view === 'card'">list</em>
    <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
  </button>
</section>
