<mat-card class="carteCustom">
  <mat-card-header>
    <img *ngIf="musique?.picture" mat-card-avatar [src]="musique?.picture" alt="Pochette de la musique"/>
    <mat-card-title> {{musique?.title | uppercase}}</mat-card-title>
    <mat-card-subtitle>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip color="primary" *ngFor="let style of musique?.styles">
            <mat-icon class="small">
              style <!-- J'ai cherche sur le wiki angular, c'est l'icone associé à style, j'ai pas trop compris l'icone mais pourquoi pas-->
            </mat-icon>
            {{style}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-icon>description</mat-icon>
    <p>{{musique?.description}}</p>
    <mat-icon>timer</mat-icon>
    <p>{{musique?.duration}}</p>
    <mat-icon>date_range</mat-icon>
    <p>{{musique?.date}}</p>
    <mat-card-subtitle class="info">
      <mat-icon>person</mat-icon>
      <p>{{musique?.artist}}</p>
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <mat-icon>library_music</mat-icon>
      <p>{{musique?.album}}</p>
    </mat-card-subtitle>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-mini-fab aria-label="Editer" color="accent" [routerLink]="['/edit', musique?.id]">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Supprimer" color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
